<header>
    <div class="logo">
        <img src="assets/image/hrr 1.png" alt="Hr-Logo">
    </div>
    <div class="row">
        <div class="signup_left">
            <form class="form">
                <h2>Sign Up here!</h2>
                <br>
                <div class="form__group">
                    <label for="email">Full Name</label>
                    <input type="name" placeholder="John Shaw">
                </div>
                <div class="form__group">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Example123@gmail.com">
                </div>
                <div class="form__group">
                    <label for="password">Password</label>

                    <input id="pass" type="password" placeholder="Enter your password">
                    <img src="https://cdn2.iconfinder.com/data/icons/basic-ui-interface-v-2/32/hide-512.png"
                        onclick="show()" id="showing">
                </div>
                <div class="form__group">
                    <label for="password">Confirm Password</label>

                    <input id="pass1" type="password" placeholder="Confirm your password">
                    <img src="https://cdn2.iconfinder.com/data/icons/basic-ui-interface-v-2/32/hide-512.png"
                        onclick="show1()" id="showing1">
                </div>
                <div class="text_condition">
                    <input type="checkbox" class="check_box">
                    <label for="checkbox" class="check_text">Agree to terms & conditions</label>
                </div>
                <div class="form__group">
                    <button class="signup_btn">Sign Up</button>
                </div>
                <p class="account_text">Already have an account? <a href="#">Log in</a> here!</p>
                <div class="form__group">
                    <img class="bar-image" src="assets/image/Frame 10.png" alt="bar-image">
                </div>
                <div class="social_media">
                    <div class="google_link">
                        <img src="assets/image/google-logo.png" alt="google_logo">
                        <p class="text_para">
                            <a href="#">Continue With Google</a>
                        </p>
                    </div>
                    <div class="facebook_link">
                        <img src="assets/image/Facebook_logo.png" alt="facebook_logo">
                        <p class="text_para">
                            <a href="#"> Continue With Facebook</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <div class="signup_right">
            <h2>Few things make me feel more powerful than setting up automations in HRmaven to make my life
                more easier and efficient.</h2>
            <div class="founder">
                <div class="founder_name">
                    <p>-Aliah Lane</p>
                    <p class="text_name">Founder</p>
                </div>
                <div class="rating">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                </div>
            </div>
            <div class="employee_image">
                <img src="assets/image/image 16.png" alt="image">
            </div>
        </div>
    </div>
</header>




